{% load static %}

<style>
    .navbar_btn {
        display:none;
    }
</style>
    <!-- Nav-Bar Section -->
    <nav class="navbar">
        <div class="navbar_container">
            <a href="/" id="navbar_logo" class="navbar_logo_class">
                <h3>FRAMEWORK</h3>
            </a>
            <div class="navbar_toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar_menu">
                <li class="navbar_item">
                    <a class="navbar_links bottom_line1" href="/">Home</a>
                </li>
                <li class="navbar_item">
                    <a class="navbar_links bottom_line2" href="/processes">Process</a>
                </li>
                <li class="navbar_item">
                    <a class="navbar_links bottom_line3" href="/help">Help</a>
                </li>
                <li class="navbar_item">
                    <a class="navbar_links bottom_line3" href="/about">About Us</a>
                </li>
                <li class="navbar_btn">
                    <div class="nav-btnn">
                        <a class="button" href="/login">Log In</a>
                    </div>

                </li>
            </ul>
        </div>
    </nav>

